%section.ten-oh-announcement
  .ten-oh-label
    %span 11.11
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 11.11 released with Multi-Assignment for Merge Requests, Windows Container Executor, Dependency Proxy, and much more!        

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/05/22/gitlab-11-11-released/"}
          See what’s new
